<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConcertoScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConcertoScreenSaver.Properties.Settings>
            <setting name="ConcertoRoot" serializeAs="String">
                <value>http://signage.union.rpi.edu/</value>
            </setting>
            <setting name="Feeds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SlideTime" serializeAs="String">
                <value>10</value>
            </setting>
        </ConcertoScreenSaver.Properties.Settings>
    </userSettings>
</configuration>